In [1]:
import pandas
import seaborn
import numpy

import sklearn.preprocessing

%matplotlib inline

# Instructions

- Read both training and test data from CSV files
- Then, identify which columns are numerical and which columns are categorical
    - Note that some of numerical feature are actually categorical feature
- Assess whether the data is balance or imbalance

In [2]:
data_train= pandas.read_csv('../data/credit.train.csv').set_index('id')
data_train

,checking_status,duration,credit_history,purpose,credit_amount,savings_status,employment,installment_commitment,personal_status,other_parties,...,property_magnitude,age,other_payment_plans,housing,existing_credits,job,num_dependents,own_telephone,foreign_worker,label
id,,,,,,,,,,,,,,,,,,,,,
253,no checking,24,delayed previously,furniture/equipment,4151,100<=X<500,1<=X<4,2,male single,none,...,life insurance,35,none,own,2,skilled,1,none,yes,good
667,no checking,48,all paid,business,3609,<100,1<=X<4,1,female div/dep/mar,none,...,real estate,27,stores,own,1,skilled,1,none,yes,good
85,no checking,12,critical/other existing credit,business,1412,<100,1<=X<4,4,female div/dep/mar,guarantor,...,real estate,29,none,own,2,high qualif/self emp/mgmt,1,yes,yes,good
969,<0,11,critical/other existing credit,new car,3939,<100,1<=X<4,1,male single,none,...,real estate,40,none,own,2,unskilled resident,2,none,yes,good
75,<0,12,critical/other existing credit,used car,1526,<100,>=7,4,male single,none,...,no known property,66,none,for free,2,high qualif/self emp/mgmt,1,none,yes,good
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
835,<0,12,no credits/all paid,new car,1082,<100,1<=X<4,4,male single,none,...,car,48,bank,own,2,skilled,1,none,yes,bad
192,0<=X<200,27,existing paid,business,3915,<100,1<=X<4,4,male single,none,...,car,36,none,own,1,skilled,2,yes,yes,bad
629,no checking,9,existing paid,education,3832,no known savings,>=7,1,male single,none,...,real estate,64,none,own,1,unskilled resident,1,none,yes,good
559,0<=X<200,18,critical/other existing credit,furniture/equipment,1928,<100,<1,2,male single,none,...,real estate,31,none,own,2,unskilled resident,1,none,yes,bad
684,0<=X<200,36,delayed previously,business,9857,100<=X<500,4<=X<7,1,male single,none,...,life insurance,31,none,own,2,unskilled resident,2,yes,yes,good

In [3]:
data_test = pandas.read_csv('../data/credit.test.csv').set_index('id')
data_test

,checking_status,duration,credit_history,purpose,credit_amount,savings_status,employment,installment_commitment,personal_status,other_parties,...,property_magnitude,age,other_payment_plans,housing,existing_credits,job,num_dependents,own_telephone,foreign_worker,label
id,,,,,,,,,,,,,,,,,,,,,
993,<0,36,existing paid,furniture/equipment,3959,<100,unemployed,4,male single,none,...,life insurance,30,none,own,1,high qualif/self emp/mgmt,1,yes,yes,good
859,no checking,9,existing paid,new car,3577,100<=X<500,1<=X<4,1,male single,guarantor,...,real estate,26,none,rent,1,skilled,2,none,no,good
298,no checking,18,existing paid,furniture/equipment,2515,<100,1<=X<4,3,male single,none,...,real estate,43,none,own,1,skilled,1,yes,yes,good
553,0<=X<200,12,critical/other existing credit,new car,1995,100<=X<500,<1,4,male single,none,...,car,27,none,own,1,skilled,1,none,yes,good
672,no checking,60,existing paid,new car,10366,<100,>=7,2,male single,none,...,life insurance,42,none,own,1,high qualif/self emp/mgmt,1,yes,yes,good
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
462,0<=X<200,12,existing paid,furniture/equipment,3017,<100,<1,3,female div/dep/mar,none,...,real estate,34,none,rent,1,high qualif/self emp/mgmt,1,none,yes,good
356,no checking,12,critical/other existing credit,radio/tv,2331,no known savings,>=7,1,male single,co applicant,...,real estate,49,none,own,1,skilled,1,yes,yes,good
2,no checking,12,critical/other existing credit,education,2096,<100,4<=X<7,2,male single,none,...,real estate,49,none,own,1,unskilled resident,2,none,yes,good
478,0<=X<200,12,existing paid,business,1037,100<=X<500,4<=X<7,3,male single,none,...,real estate,39,none,own,1,unskilled resident,1,none,yes,good
695,no checking,6,existing paid,used car,1236,500<=X<1000,1<=X<4,2,male single,none,...,life insurance,50,none,rent,1,skilled,1,none,yes,good

In [4]:
data_train.dtypes

checking_status           object
duration                   int64
credit_history            object
purpose                   object
credit_amount              int64
savings_status            object
employment                object
installment_commitment     int64
personal_status           object
other_parties             object
residence_since            int64
property_magnitude        object
age                        int64
other_payment_plans       object
housing                   object
existing_credits           int64
job                       object
num_dependents             int64
own_telephone             object
foreign_worker            object
label                     object
dtype: object

In [5]:
categorical_features = [
'checking_status', 
    'credit_history', 
    'purpose', 
    'savings_status',
    'employment', 
    'personal_status', 
    'other_parties', 
    'property_magnitude',
    'other_payment_plans', 
    'housing', 
    'job', 
    'own_telephone',
    'foreign_worker',
    'installment_commitment', 
    'residence_since', 
    'existing_credits', 
    'num_dependents'
]
for feature in categorical_features:
    print(data_train[feature].value_count())
    print("-----")

AttributeError: 'Series' object has no attribute 'value_count'

In [6]:
data_train['label'].value_counts()

label
good    524
bad     226
Name: count, dtype: int64

In [7]:
data_test['label'].value_counts()

label
good    176
bad      74
Name: count, dtype: int64

# Instructions
- Investigate whether the dataset contains any missing data

In [8]:
data_train.isna().sum(axis='index')

checking_status           0
duration                  0
credit_history            0
purpose                   0
credit_amount             0
savings_status            0
employment                0
installment_commitment    0
personal_status           0
other_parties             0
residence_since           0
property_magnitude        0
age                       0
other_payment_plans       0
housing                   0
existing_credits          0
job                       0
num_dependents            0
own_telephone             0
foreign_worker            0
label                     0
dtype: int64

In [9]:
data_test.isna().sum(axis='index')

checking_status           0
duration                  0
credit_history            0
purpose                   0
credit_amount             0
savings_status            0
employment                0
installment_commitment    0
personal_status           0
other_parties             0
residence_since           0
property_magnitude        0
age                       0
other_payment_plans       0
housing                   0
existing_credits          0
job                       0
num_dependents            0
own_telephone             0
foreign_worker            0
label                     0
dtype: int64

# Instructions
- Remove missing values
- Create 3 `pandas.DataFrame`s
    - `pandas.DataFrame` of ordinal features encoded using `sklearn.preprocessing.OrdinalEncoder`
    - `pandas.DataFrame` of only numerical features.
    - `pandas.DataFrame` of labels encoded using `sklearn.preprocessing.OrdinalEncoder` 
       - Map {`good`, `bad`} to {0, 1} respectively
- Note that these **filling parameters** should be applied to the test data as well
- Then, combine the 3 `pandas.DataFrame` to obtain the fully processed training and test data
  - Hint: use `.join`

## For missing values
- Drop all missing values for training and testing data
    - Hint: use `.dropna`
- Show that the missing values were properly removed

In [10]:
data_train = data_train.dropna()
data_train

,checking_status,duration,credit_history,purpose,credit_amount,savings_status,employment,installment_commitment,personal_status,other_parties,...,property_magnitude,age,other_payment_plans,housing,existing_credits,job,num_dependents,own_telephone,foreign_worker,label
id,,,,,,,,,,,,,,,,,,,,,
253,no checking,24,delayed previously,furniture/equipment,4151,100<=X<500,1<=X<4,2,male single,none,...,life insurance,35,none,own,2,skilled,1,none,yes,good
667,no checking,48,all paid,business,3609,<100,1<=X<4,1,female div/dep/mar,none,...,real estate,27,stores,own,1,skilled,1,none,yes,good
85,no checking,12,critical/other existing credit,business,1412,<100,1<=X<4,4,female div/dep/mar,guarantor,...,real estate,29,none,own,2,high qualif/self emp/mgmt,1,yes,yes,good
969,<0,11,critical/other existing credit,new car,3939,<100,1<=X<4,1,male single,none,...,real estate,40,none,own,2,unskilled resident,2,none,yes,good
75,<0,12,critical/other existing credit,used car,1526,<100,>=7,4,male single,none,...,no known property,66,none,for free,2,high qualif/self emp/mgmt,1,none,yes,good
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
835,<0,12,no credits/all paid,new car,1082,<100,1<=X<4,4,male single,none,...,car,48,bank,own,2,skilled,1,none,yes,bad
192,0<=X<200,27,existing paid,business,3915,<100,1<=X<4,4,male single,none,...,car,36,none,own,1,skilled,2,yes,yes,bad
629,no checking,9,existing paid,education,3832,no known savings,>=7,1,male single,none,...,real estate,64,none,own,1,unskilled resident,1,none,yes,good
559,0<=X<200,18,critical/other existing credit,furniture/equipment,1928,<100,<1,2,male single,none,...,real estate,31,none,own,2,unskilled resident,1,none,yes,bad
684,0<=X<200,36,delayed previously,business,9857,100<=X<500,4<=X<7,1,male single,none,...,life insurance,31,none,own,2,unskilled resident,2,yes,yes,good

In [11]:
data_train.isna().sum(axis='index')

checking_status           0
duration                  0
credit_history            0
purpose                   0
credit_amount             0
savings_status            0
employment                0
installment_commitment    0
personal_status           0
other_parties             0
residence_since           0
property_magnitude        0
age                       0
other_payment_plans       0
housing                   0
existing_credits          0
job                       0
num_dependents            0
own_telephone             0
foreign_worker            0
label                     0
dtype: int64

In [12]:
data_test = data_train.dropna()
data_test

,checking_status,duration,credit_history,purpose,credit_amount,savings_status,employment,installment_commitment,personal_status,other_parties,...,property_magnitude,age,other_payment_plans,housing,existing_credits,job,num_dependents,own_telephone,foreign_worker,label
id,,,,,,,,,,,,,,,,,,,,,
253,no checking,24,delayed previously,furniture/equipment,4151,100<=X<500,1<=X<4,2,male single,none,...,life insurance,35,none,own,2,skilled,1,none,yes,good
667,no checking,48,all paid,business,3609,<100,1<=X<4,1,female div/dep/mar,none,...,real estate,27,stores,own,1,skilled,1,none,yes,good
85,no checking,12,critical/other existing credit,business,1412,<100,1<=X<4,4,female div/dep/mar,guarantor,...,real estate,29,none,own,2,high qualif/self emp/mgmt,1,yes,yes,good
969,<0,11,critical/other existing credit,new car,3939,<100,1<=X<4,1,male single,none,...,real estate,40,none,own,2,unskilled resident,2,none,yes,good
75,<0,12,critical/other existing credit,used car,1526,<100,>=7,4,male single,none,...,no known property,66,none,for free,2,high qualif/self emp/mgmt,1,none,yes,good
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
835,<0,12,no credits/all paid,new car,1082,<100,1<=X<4,4,male single,none,...,car,48,bank,own,2,skilled,1,none,yes,bad
192,0<=X<200,27,existing paid,business,3915,<100,1<=X<4,4,male single,none,...,car,36,none,own,1,skilled,2,yes,yes,bad
629,no checking,9,existing paid,education,3832,no known savings,>=7,1,male single,none,...,real estate,64,none,own,1,unskilled resident,1,none,yes,good
559,0<=X<200,18,critical/other existing credit,furniture/equipment,1928,<100,<1,2,male single,none,...,real estate,31,none,own,2,unskilled resident,1,none,yes,bad
684,0<=X<200,36,delayed previously,business,9857,100<=X<500,4<=X<7,1,male single,none,...,life insurance,31,none,own,2,unskilled resident,2,yes,yes,good

In [13]:
data_test.isna().sum(axis='index')

checking_status           0
duration                  0
credit_history            0
purpose                   0
credit_amount             0
savings_status            0
employment                0
installment_commitment    0
personal_status           0
other_parties             0
residence_since           0
property_magnitude        0
age                       0
other_payment_plans       0
housing                   0
existing_credits          0
job                       0
num_dependents            0
own_telephone             0
foreign_worker            0
label                     0
dtype: int64

## For ordinal features
- Define a subset of ordinal features
- Define a list of categorical maps which sort the feature values in appropriate orders
- Use `sklearn.preprocessing.OrdinalEncoder` to create a categorical encoder, then fit using the training data
- Create a new `pandas.DataFrame` of only ordinally encoded features for both training and test data

In [14]:
ordinal_features = [
    'checking_status', 
    'credit_history', 
    'purpose', 
    'savings_status',
    'employment', 
    'personal_status', 
    'other_parties', 
    'property_magnitude',
    'other_payment_plans', 
    'housing', 
    'job', 
    'own_telephone',
    'foreign_worker',
    'installment_commitment', 
    'residence_since', 
    'existing_credits', 
    'num_dependents'
]

In [15]:
ordinal_mapping = [
    ['no checking', '<0', '0<=X<200', '>=200'],
    ['critical/other existing credit', 'delayed previously', 'existing paid', 'all paid', 'no credits/all paid'], 
    ['other', 'education', 'retraining', 'domestic appliance', 'repairs', 'furniture/equipment', 'radio/tv', 'used car', 'new car', 'business'],
    ['no known savings', '<100', '100<=X<500', '500<=X<1000', '>=1000'],
    ['unemployed', '<1', '1<=X<4', '4<=X<7', '>=7'],
    ['male single', 'male div/sep', 'male mar/wid', 'female div/dep/mar'],
    ['none', 'co applicant', 'guarantor'],
    ['no known property', 'car', 'life insurance', 'real estate'],
    ['none', 'stores', 'bank'],
    ['for free', 'rent', 'own'],
    ['unemp/unskilled non res', 'unskilled resident', 'skilled', 'high qualif/self emp/mgmt'],  # job
    ['none', 'yes'],
    ['no', 'yes'],
    [1, 2, 3, 4],
    [1.0, 2.0, 3.0, 4.0],
    [1.0, 2.0, 3.0, 4.0],
    [1, 2],
]

In [16]:
onehot_encoder = sklearn.preprocessing.OneHotEncoder(categories=ordinal_mapping, sparse_output=False)
onehot_encoder

OneHotEncoder(categories=[['no checking', '<0', '0<=X<200', '>=200'],
                          ['critical/other existing credit',
                           'delayed previously', 'existing paid', 'all paid',
                           'no credits/all paid'],
                          ['other', 'education', 'retraining',
                           'domestic appliance', 'repairs',
                           'furniture/equipment', 'radio/tv', 'used car',
                           'new car', 'business'],
                          ['no known savings', '<100', '100<=X<500',
                           '500<=X<1000', '>=1000...
                          ['male single', 'male div/sep', 'male mar/wid',
                           'female div/dep/mar'],
                          ['none', 'co applicant', 'guarantor'],
                          ['no known property', 'car', 'life insurance',
                           'real estate'],
                          ['none', 'stores', 'bank'],
                          ['for free', 'rent', 'own'],
                          ['unemp/unskilled non res', 'unskilled resident',
                           'skilled', 'high qualif/self emp/mgmt'],
                          ['none', 'yes'], ['no', 'yes'], [1, 2, 3, 4],
                          [1.0, 2.0, 3.0, 4.0], [1.0, 2.0, 3.0, 4.0], [1, 2]],
              sparse_output=False)

In [17]:
onehot_encoder.fit(
    X = data_train[ordinal_features]
)

OneHotEncoder(categories=[['no checking', '<0', '0<=X<200', '>=200'],
                          ['critical/other existing credit',
                           'delayed previously', 'existing paid', 'all paid',
                           'no credits/all paid'],
                          ['other', 'education', 'retraining',
                           'domestic appliance', 'repairs',
                           'furniture/equipment', 'radio/tv', 'used car',
                           'new car', 'business'],
                          ['no known savings', '<100', '100<=X<500',
                           '500<=X<1000', '>=1000...
                          ['male single', 'male div/sep', 'male mar/wid',
                           'female div/dep/mar'],
                          ['none', 'co applicant', 'guarantor'],
                          ['no known property', 'car', 'life insurance',
                           'real estate'],
                          ['none', 'stores', 'bank'],
                          ['for free', 'rent', 'own'],
                          ['unemp/unskilled non res', 'unskilled resident',
                           'skilled', 'high qualif/self emp/mgmt'],
                          ['none', 'yes'], ['no', 'yes'], [1, 2, 3, 4],
                          [1.0, 2.0, 3.0, 4.0], [1.0, 2.0, 3.0, 4.0], [1, 2]],
              sparse_output=False)

In [18]:
data_train_ordinal_features= pandas.DataFrame(
    data = onehot_encoder.transform(data_train[ordinal_features]),
    columns = onehot_encoder.get_feature_names_out(),
    index = data_train.index,
)
data_train_ordinal_features

,checking_status_no checking,checking_status_<0,checking_status_0<=X<200,checking_status_>=200,credit_history_critical/other existing credit,credit_history_delayed previously,credit_history_existing paid,credit_history_all paid,credit_history_no credits/all paid,purpose_other,...,residence_since_1,residence_since_2,residence_since_3,residence_since_4,existing_credits_1,existing_credits_2,existing_credits_3,existing_credits_4,num_dependents_1,num_dependents_2
id,,,,,,,,,,,,,,,,,,,,,
253,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
667,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
85,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
969,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
75,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
835,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0
192,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
629,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0
559,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
684,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0

In [19]:
data_test_ordinal_features= pandas.DataFrame(
    data = onehot_encoder.transform(data_test[ordinal_features]),
    columns = onehot_encoder.get_feature_names_out(),
    index = data_test.index,
)
data_test_ordinal_features

,checking_status_no checking,checking_status_<0,checking_status_0<=X<200,checking_status_>=200,credit_history_critical/other existing credit,credit_history_delayed previously,credit_history_existing paid,credit_history_all paid,credit_history_no credits/all paid,purpose_other,...,residence_since_1,residence_since_2,residence_since_3,residence_since_4,existing_credits_1,existing_credits_2,existing_credits_3,existing_credits_4,num_dependents_1,num_dependents_2
id,,,,,,,,,,,,,,,,,,,,,
253,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
667,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
85,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
969,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
75,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
835,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0
192,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
629,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0
559,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
684,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0

## For numerical features
- Define and select a subset of numerical features for training and test data
- Create a new `pandas.DataFrame` of only numerically encoded features for both training and test data

In [20]:
numerical_features = [
    'duration',
    'credit_amount',
    'age',
]

In [21]:
data_train_numerical_features = data_train[numerical_features]
data_train_numerical_features

     duration  credit_amount  age
id
253        24           4151   35
667        48           3609   27
85         12           1412   29
969        11           3939   40
75         12           1526   66
..        ...            ...  ...
835        12           1082   48
192        27           3915   36
629         9           3832   64
559        18           1928   31
684        36           9857   31

[750 rows x 3 columns]

In [22]:
data_test_numerical_features = data_test[numerical_features]
data_test_numerical_features

     duration  credit_amount  age
id
253        24           4151   35
667        48           3609   27
85         12           1412   29
969        11           3939   40
75         12           1526   66
..        ...            ...  ...
835        12           1082   48
192        27           3915   36
629         9           3832   64
559        18           1928   31
684        36           9857   31

[750 rows x 3 columns]

## For labels
- Define a subset of ordinal features
- Use `sklearn.preprocessing.OrdinalEncoder` to create an ordinal encoder, then fit using the training data
  - Map {`good`, `bad`} to {0, 1} respectively
- Create a new `pandas.DataFrame` of ordinally encoded labels for both training and test data

In [23]:
label_encoder= sklearn.preprocessing.OrdinalEncoder(categories=[['good','bad']])
label_encoder

OrdinalEncoder(categories=[['good', 'bad']])

In [24]:
label_encoder.fit(
    X = data_train[['label']]
)

OrdinalEncoder(categories=[['good', 'bad']])

In [25]:
data_test_label = pandas.DataFrame(
    data = label_encoder.transform(data_test[['label']]),
    columns = label_encoder.get_feature_names_out(),
    index = data_test.index,
)
data_test_label

     label
id
253    0.0
667    0.0
85     0.0
969    0.0
75     0.0
..     ...
835    1.0
192    1.0
629    0.0
559    1.0
684    0.0

[750 rows x 1 columns]

In [26]:
data_train_label = pandas.DataFrame(
    data = label_encoder.transform(data_train[['label']]),  # <- double brackets to make it a DataFrame (2D)
    columns = label_encoder.get_feature_names_out(),
    index = data_train.index,
)
data_train_label

     label
id
253    0.0
667    0.0
85     0.0
969    0.0
75     0.0
..     ...
835    1.0
192    1.0
629    0.0
559    1.0
684    0.0

[750 rows x 1 columns]

## Reconstruction of data sets
- Combine the 3 `pandas.DataFrame` to obtain the fully processed training and test data
  - Hint: use `.join`

In [30]:
data_train = (
    data_train_numerical_features
    .join(data_train_ordinal_features)
    .join(data_train_label)
)
data_train

,duration,credit_amount,age,checking_status_no checking,checking_status_<0,checking_status_0<=X<200,checking_status_>=200,credit_history_critical/other existing credit,credit_history_delayed previously,credit_history_existing paid,...,residence_since_2,residence_since_3,residence_since_4,existing_credits_1,existing_credits_2,existing_credits_3,existing_credits_4,num_dependents_1,num_dependents_2,label
id,,,,,,,,,,,,,,,,,,,,,
253,24,4151,35,1.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
667,48,3609,27,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
85,12,1412,29,1.0,0.0,0.0,0.0,1.0,0.0,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
969,11,3939,40,0.0,1.0,0.0,0.0,1.0,0.0,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
75,12,1526,66,0.0,1.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
835,12,1082,48,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0
192,27,3915,36,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0
629,9,3832,64,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
559,18,1928,31,0.0,0.0,1.0,0.0,1.0,0.0,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0
684,36,9857,31,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

In [31]:
data_test=(
    data_test_numerical_features
    .join(data_test_ordinal_features)
    .join(data_test_label)
)
data_test

,duration,credit_amount,age,checking_status_no checking,checking_status_<0,checking_status_0<=X<200,checking_status_>=200,credit_history_critical/other existing credit,credit_history_delayed previously,credit_history_existing paid,...,residence_since_2,residence_since_3,residence_since_4,existing_credits_1,existing_credits_2,existing_credits_3,existing_credits_4,num_dependents_1,num_dependents_2,label
id,,,,,,,,,,,,,,,,,,,,,
253,24,4151,35,1.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
667,48,3609,27,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
85,12,1412,29,1.0,0.0,0.0,0.0,1.0,0.0,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
969,11,3939,40,0.0,1.0,0.0,0.0,1.0,0.0,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
75,12,1526,66,0.0,1.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
835,12,1082,48,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0
192,27,3915,36,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0
629,9,3832,64,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
559,18,1928,31,0.0,0.0,1.0,0.0,1.0,0.0,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0
684,36,9857,31,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

# Instructions
- Write the train data set to `./data/features.train.csv`
- Write the test data set to `./data/features.test.csv`

In [32]:
data_train.to_csv('./data/features.train.csv')

In [33]:
data_train.to_csv('./data/features.test.csv')